html{
    background-color: white;
    font-family: "young-serrif";
    color: hsl(30, 10%, 34%)
}
h1{
    color:black;
}
#prep{
    margin-left: 3%;
}

.head{
    color: hsl(332, 51%, 32%)
}
.head2, .head3, .head4, .data{
    color: hsl(14, 45%, 36%);
}

footer{
    text-align: center;
}